{% extends "base.html.twig" %}

{% block page_title %}Inscription{% endblock page_title %}
{% block page_content %}
<main>
   <form action="{{ route('app_submit_inscription') }}" id="form-access" class="center" method="post" enctype="multipart/form-data">
      <fieldset>
         <legend>Inscription</legend>
            <div class="access-container">
               <label for="login">Login</label>
               <p class="help-input-form">Entre 4 et 20 caractères</p>
               <input id="login" type="text" name="login" minlength="4" maxlength="20" {% if login %}value="{{ login }}"{% endif %}required/>
            </div>
            <div class="access-container">
               <label for="password">Mot de passe</label>
               <p class="help-input-form">Entre 8 et 20 caractères, au moins une minuscule, une majuscule et un nombre</p>
               <input id="password" type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$" required/>
            </div>
            <div class="access-container">
               <label for="mail">Adresse mail</label>
               <input id="mail" type="email"name="adresseMail" {% if adresseMail %}value="{{ adresseMail }}"{% endif %} required/>
            </div>
            <div class="access-container">
               <label for="profile-pic">Photo de profil</label>
               <input required type="file" id="profile-pic" name="profilePicture" accept="image/png, image/jpeg">
             </div>
            <input id="access-submit" type="submit" value="S'inscrire">
      </fieldset>
   </form>
</main>


{% endblock page_content %}