{% extends "base.html.twig" %}

{% block page_title %}{{ trans('the_feed')}}{% endblock page_title %}
{% block page_content %}

<main id="the-feed-main">
  <div id="feed">
        <h1>{{ trans('current_sondages')}}</h1>

      {% if sondages %}
          {% for sondage in sondages %}
              {% include 'sondages/sondage.html.twig' with {
                sondage: sondage,
              } %}
          {% endfor %}
      {% else %}
          <p id="no-publications" class="center">{{ trans('no_sondage')}}</p>
      {% endif %}

  </div>
</main>
{% endblock page_content %}