{% extends "base.html.twig" %}

{% block page_title %}The Feed{% endblock page_title %}
{% block page_content %}

<main id="the-feed-main">
  <div id="feed">
        <h1>Sondages en cours :</h1>

      {% if sondages %}
          {% for sondage in sondages %}
              {% include 'sondages/sondage.html.twig' with {
                sondage: sondage,
              } %}
          {% endfor %}
      {% else %}
          <p id="no-publications" class="center">Pas de sondages pour le moment!</p>
      {% endif %}

  </div>
</main>
{% endblock page_content %}